/*our-clients*/
.clients-wrapp {
  padding: 0;
}

.clients-wrapp .clients-align {
  padding-bottom: 92px;
}

.clients-wrapp .clients-align .client-title {
  padding: 0 0 29px 14px;
}

.clients-wrapp .clients-align .client-title span {
  font-family: 'PNova';
  font-weight: 300;
  color: #343c4b;
  font-size: 48px;
  padding-left: 36px;
}

.clients-wrapp .clients-align .client-title span:before {
  content: "";
  display: block;
  width: 5px;
  height: 35px;
  background-color: #2299ff;
  float: left;
  position: absolute;
  top: 18%;
}

.clients-wrapp .clients-align .client-img {
  white-space: nowrap;
}

.clients-wrapp .clients-align .client-img .item-img {
  display: inline-block;
  vertical-align: top;
  margin-left: -4px;
}

.clients-wrapp .clients-align .client-img .item-img a {
  background-color: transparent;
}

.clients-wrapp .clients-align .client-img .item-img a img {
  -webkit-filter: grayscale(100%);
  opacity: 0.58;
  -webkit-transition: opacity 600ms linear;
  -moz-transition: opacity 600ms linear;
  -o-transition: opacity 600ms linear;
  transition: opacity 600ms linear;
}

.clients-wrapp .clients-align .client-img .item-img a img:hover {
  -webkit-filter: none;
  opacity: 1;
}

.clients-wrapp .clients-align .client-img .img0 {
  width: 23%;
  margin-right: 58px;
  padding-top: 21px;
}

.clients-wrapp .clients-align .client-img .img1 {
  padding-top: 33px;
}

.clients-wrapp .clients-align .client-img .img2 {
  width: 14%;
  margin-left: 57px;
  padding-top: 14px;
  margin-right: 63px;
}

.clients-wrapp .clients-align .client-img .img4 {
  padding-top: 26px;
  margin-left: 44px;
}

.clients-wrapp .clients-align .client-img .img5 {
  padding-top: 42px;
  margin-left: 13px;
}

.clients-wrapp .clients-align .client-img .img6 {
  padding-top: 73px;
  margin-left: 64px;
}

.clients-wrapp .clients-align .client-img .img7 {
  width: 25.2%;
  padding-top: 70px;
  margin-left: 51px;
}

.clients-wrapp .clients-align .client-img .img8 {
  width: 17.8%;
  padding-top: 70px;
  margin-left: 78px;
}

/*/our-clients*/
/*our-services*/
.services-wrapp {
  padding: 55px 0 48px 0;
  background-color: #fafbfc;
  width: 100%;
}

.services-wrapp .services-align {
  padding: 0;
}

.services-wrapp .services-align .services-title {
  padding: 0 0 29px 14px;
}

.services-wrapp .services-align .services-title span {
  font-family: 'PNova';
  font-weight: 300;
  color: #343c4b;
  font-size: 48px;
  padding-left: 36px;
}

.services-wrapp .services-align .services-title span:before {
  content: "";
  display: block;
  width: 5px;
  height: 35px;
  background-color: #2299ff;
  float: left;
  position: absolute;
  top: 18%;
}

.list-box {
  padding: 11px 0 0 14px;
}

.list-box ul li {
  padding-bottom: 24px;
  position: relative;
}

.list-box ul li:before {
  content: "";
  width: 26px;
  height: 26px;
  position: absolute;
  top: 0;
  background-image: url("../images/listyle.png");
  display: inline-block;
  vertical-align: top;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid 1px #2299ff;
  background-repeat: no-repeat;
  background-position: center center;
}

.list-box ul li span {
  font-family: 'PNova';
  font-weight: 300;
  font-size: 20px;
  color: #000;
  padding-left: 45px;
  display: block;
  line-height: 24px;
}

/*/our-services*/
/*risks*/
.risk-wrapp {
  padding: 55px 0 48px 0;
  background-color: #fff;
  width: 100%;
}

.risk-wrapp .risk-align {
  padding: 0;
}

.risk-wrapp .risk-align .risk-title {
  padding: 0 0 29px 14px;
}

.risk-wrapp .risk-align .risk-title span {
  font-family: 'PNova';
  font-weight: 300;
  color: #343c4b;
  font-size: 48px;
  padding-left: 36px;
}

.risk-wrapp .risk-align .risk-title span:before {
  content: "";
  display: block;
  width: 5px;
  height: 35px;
  background-color: #2299ff;
  float: left;
  position: absolute;
  top: 18%;
}

/*/risks*/
