.header .row {
  padding-top: 45px;
}

.header .head_descr {
  color: #99a3ab;
  font-size: 15px;
  border-left: 4px solid #46c3ee;
  padding-left: 13px;
  margin-left: 11px;
}

.header .header_tel_wrap {
  text-align: center;
}

.header .header_tel_wrap a {
  text-decoration: none;
  display: inline-block;
  width: 49%;
  vertical-align: middle;
}

.header .header_tel_wrap .head_zvonok {
  color: #46c3ee;
  border: 1px solid #46c3ee;
  font-weight: 600;
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  max-width: 195px;
  font-size: 13px;
  padding: 21px 19px 18px;
  background-color: #fff;
}

.header .header_tel_wrap .head_zvonok span {
  text-transform: uppercase;
}

.header .header_tel_wrap .head_zvonok:after, .header .header_tel_wrap .head_zvonok:before {
  content: '';
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  position: absolute;
  border-left: 6px solid #46c3ee;
  right: -6px;
  z-index: 1;
  top: 22px;
}

.header .header_tel_wrap .head_zvonok:before {
  right: -5px;
  border-left: 6px solid white;
  z-index: 2;
}

.header .header_tel_wrap .head_zvonok:hover {
  border: 1px solid transparent;
  background-color: #46c3ee;
  color: #fff;
}

.header .header_tel_wrap .head_zvonok:hover:before {
  border-left: 6px solid #46c3ee;
}

.header .header_tel_wrap .head_tel {
  font-family: 'PNova';
  font-weight: 600;
  color: #000;
  font-size: 19px;
}

/*svg-circles*/
.svg-circles {
  padding-top: 49px;
}

.svg-circles .svg-circles-wrap {
  background: url("../images/svg_section_bg.jpg") center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-bottom: 134px;
}

.svg-circles h2 {
  font-size: 56px;
  color: white;
  margin: 0;
  padding-top: 127px;
  font-weight: bold;
  line-height: 66px;
}

.svg-circles h5 {
  font-size: 36px;
  color: #2299ff;
  margin: 0;
  padding-top: 31px;
}

.svg-circles .svg_item_wrap {
  padding-top: 71px;
  text-align: center;
}

.svg-circles .svg_item {
  display: inline-block;
  position: relative;
  min-height: 265px;
  width: 200px;
  overflow: hidden;
  margin-right: 2.9%;
}

.svg-circles .svg_item:last-child {
  margin-right: 0;
}

.svg-circles .svg_item.show-block:after {
  opacity: 1;
}

.svg-circles .svg_item.show-block.item_1:before {
  opacity: 1;
}

.svg-circles .svg_item.item_1:after {
  right: 51px;
}

.svg-circles .svg_item.item_1:before {
  content: attr(data-text);
  position: absolute;
  top: 89px;
  right: 154px;
  width: 20px;
  height: 21px;
  color: white;
  font-size: 27px;
  font-weight: 300;
  font-family: 'PNova';
  opacity: 0;
  -webkit-transition: opacity linear .3s;
  -moz-transition: opacity linear .3s;
  -o-transition: opacity linear .3s;
  transition: opacity linear .3s;
}

.svg-circles .svg_item.item_2:after {
  right: 27px;
}

.svg-circles .svg_item:after {
  content: attr(data-percent);
  position: absolute;
  top: 87px;
  right: 35px;
  width: 20px;
  height: 21px;
  color: white;
  font-size: 30px;
  opacity: 0;
  -webkit-transition: opacity linear .3s;
  -moz-transition: opacity linear .3s;
  -o-transition: opacity linear .3s;
  transition: opacity linear .3s;
}

.svg-circles .svg_item .svg_item_img {
  height: 205px;
  overflow: hidden;
}

.svg-circles .svgText {
  position: relative;
}

.svg-circles .svg_item_text {
  font-family: 'PNova';
  color: white;
  font-size: 20px;
  font-weight: 100;
  opacity: 0;
  -webkit-transition: all ease-out .2s;
  -moz-transition: all ease-out .2s;
  -o-transition: all ease-out .2s;
  transition: all ease-out .2s;
}

.svg-circles .svg_item_text.animated {
  opacity: 1;
}

/* map section*/
.map #google_map {
  height: 500px;
}

@media screen and (max-width: 1024px) {
  /*header*/
  .header .header_tel_wrap .head_zvonok {
    width: 100%;
    text-align: center;
  }
  .header .header_tel_wrap a {
    width: 100%;
    margin: 10px 0px;
  }
}

@media screen and (max-width: 666px) {
  /*svg*/
  .svg-circles {
    padding-top: 49px;
  }
  .svg-circles .svg-circles-wrap {
    padding-bottom: 90px;
  }
  .svg-circles h2 {
    font-size: 44px;
    color: white;
    margin: 0;
    padding-top: 80px;
    font-weight: bold;
    line-height: 58px;
  }
  .svg-circles h5 {
    font-size: 30px;
    color: #2299ff;
    margin: 0;
    padding-top: 31px;
  }
}

@media screen and (max-width: 479px) {
  /*header*/
  .header .header_tel_wrap .head_zvonok {
    width: 100%;
    text-align: center;
  }
  .header .header_tel_wrap a {
    width: 100%;
    margin: 10px 0px;
  }
  .header .logo {
    text-align: center;
    padding-bottom: 20px;
  }
  .header .logo a {
    display: inline-block;
  }
  .header .head_descr {
    margin: 0 14% 20px;
  }
  /*svg*/
  .svg-circles {
    padding-top: 49px;
  }
  .svg-circles .svg-circles-wrap {
    padding-bottom: 90px;
  }
  .svg-circles h2 {
    font-size: 33px;
    line-height: 46px;
  }
  .svg-circles h5 {
    font-size: 30px;
    color: #2299ff;
    margin: 0;
    padding-top: 31px;
  }
  .svg-circles .svg_item {
    display: block;
    margin: 0 auto 20px !important;
  }
}
