/* footer */
.footer {
  background-color: #283040;
  padding-top: 40px;
  min-height: 522px;
}

.footer .container {
  padding: 0;
}

.footer .container .footer-wrap .left-info h2 {
  color: #fff;
  font-family: 'PNova';
  font-size: 30px;
  text-indent: 16px;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 44px;
}

.footer .container .footer-wrap .left-info .info {
  padding-left: 60px;
  position: relative;
}

.footer .container .footer-wrap .left-info .info .address {
  margin-bottom: 25px;
}

.footer .container .footer-wrap .left-info .info .address span {
  font-size: 18px;
  font-family: 'PNova';
  color: #676C77;
  margin-bottom: 5px;
  display: inline-block;
}

.footer .container .footer-wrap .left-info .info .address span:before {
  display: block;
  content: '';
  background-image: url(../images/home-icon.png);
  background-repeat: no-repeat;
  width: 19px;
  height: 17px;
  position: absolute;
  left: 18px;
  top: 4px;
}

.footer .container .footer-wrap .left-info .info .address p {
  font-size: 18px;
  font-family: 'PNova';
  color: #fcfcfc;
}

.footer .container .footer-wrap .left-info .info .phone {
  margin-bottom: 25px;
}

.footer .container .footer-wrap .left-info .info .phone span {
  font-size: 18px;
  font-family: 'PNova';
  color: #676C77;
  margin-bottom: 5px;
  display: inline-block;
}

.footer .container .footer-wrap .left-info .info .phone span:before {
  display: block;
  content: '';
  background-image: url(../images/phone-icon.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
}

.footer .container .footer-wrap .left-info .info .phone p {
  font-size: 18px;
  font-family: 'PNova';
  color: #fcfcfc;
}

.footer .container .footer-wrap .left-info .info .email {
  margin-bottom: 31px;
}

.footer .container .footer-wrap .left-info .info .email span {
  font-size: 18px;
  font-family: 'PNova';
  color: #676C77;
  margin-bottom: 5px;
  display: inline-block;
}

.footer .container .footer-wrap .left-info .info .email span:before {
  display: block;
  content: '';
  background-image: url(../images/mail-icon.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 12px;
  position: absolute;
  left: 15px;
}

.footer .container .footer-wrap .left-info .info .email p {
  font-size: 18px;
  font-family: 'PNova';
  color: #fcfcfc;
}

.footer .container .footer-wrap .left-info .work-graph span {
  font-size: 18px;
  font-family: 'PNova';
  color: #676C77;
  margin-bottom: 5px;
  display: inline-block;
}

.footer .container .footer-wrap .left-info .work-graph p {
  font-size: 18px;
  font-family: 'PNova';
  color: #fcfcfc;
}

.footer .container .footer-wrap .right-form {
  padding-top: 29px;
  padding-left: 78px;
  padding-right: 0;
}

.footer .container .footer-wrap .right-form .form-wrap .input-wrap {
  float: left;
  padding-right: 0;
}

.footer .container .footer-wrap .right-form .form-wrap .input-wrap input {
  width: 100%;
  border: 1px solid #F4F4F4;
  background-color: #F4F4F4;
  outline: none;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'PNova';
  font-weight: 300;
  color: #9a9a9a;
  padding: 12px 10px 12px 45px;
  -o-transition: border-color 500ms ease;
  transition: border-color 500ms ease;
  -moz-transition: border-color 500ms ease;
  -webkit-transition: border-color 500ms ease;
  -ms-transition: border-color 500ms ease;
}

.footer .container .footer-wrap .right-form .form-wrap .input-wrap input.error {
  border: 1px solid #f00;
}

.footer .container .footer-wrap .right-form .form-wrap .input-wrap textarea {
  width: 100%;
  border: 1px solid #F4F4F4;
  background-color: #F4F4F4;
  resize: none;
  outline: none;
  font-size: 16px;
  font-family: 'PNova';
  font-weight: 300;
  color: #9a9a9a;
  padding: 10px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 6px;
}

.footer .container .footer-wrap .right-form .form-wrap .input-submit-wrap button {
  width: 100%;
  outline: none;
  font-size: 20px;
  font-family: 'PNova';
  padding: 18px 14px;
  color: #fff;
  background-color: #2299FF;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* /footer */
