/* footer */
.footer {
  background-color: #283040;
  padding-top: 40px;
  min-height: 522px;
}

.footer .container {
  padding: 0;
}

.footer .container .footer-wrap .left-info h2 {
  color: #fff;
  font-family: 'PNova';
  font-size: 30px;
  text-indent: 16px;
  margin: 0;
  padding-top: 17px;
  padding-bottom: 44px;
}

.footer .container .footer-wrap .left-info .info {
  padding-left: 60px;
  position: relative;
}

.footer .container .footer-wrap .left-info .info .address {
  margin-bottom: 25px;
}

.footer .container .footer-wrap .left-info .info .address span {
  font-size: 18px;
  font-family: 'PNova';
  color: #676C77;
  margin-bottom: 5px;
  display: inline-block;
}

.footer .container .footer-wrap .left-info .info .address span:before {
  display: block;
  content: '';
  background-image: url(../images/home-icon.png);
  background-repeat: no-repeat;
  width: 19px;
  height: 17px;
  position: absolute;
  left: 18px;
  top: 4px;
}

.footer .container .footer-wrap .left-info .info .address p {
  font-size: 18px;
  font-family: 'PNova';
  color: #fcfcfc;
}

.footer .container .footer-wrap .left-info .info .phone {
  margin-bottom: 25px;
}

.footer .container .footer-wrap .left-info .info .phone span {
  font-size: 18px;
  font-family: 'PNova';
  color: #676C77;
  margin-bottom: 5px;
  display: inline-block;
}

.footer .container .footer-wrap .left-info .info .phone span:before {
  display: block;
  content: '';
  background-image: url(../images/phone-icon.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
}

.footer .container .footer-wrap .left-info .info .phone p {
  font-size: 18px;
  font-family: 'PNova';
  color: #fcfcfc;
}

.footer .container .footer-wrap .left-info .info .email {
  margin-bottom: 31px;
}

.footer .container .footer-wrap .left-info .info .email span {
  font-size: 18px;
  font-family: 'PNova';
  color: #676C77;
  margin-bottom: 5px;
  display: inline-block;
}

.footer .container .footer-wrap .left-info .info .email span:before {
  display: block;
  content: '';
  background-image: url(../images/mail-icon.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 12px;
  position: absolute;
  left: 15px;
}

.footer .container .footer-wrap .left-info .info .email p {
  font-size: 18px;
  font-family: 'PNova';
  color: #fcfcfc;
}

.footer .container .footer-wrap .left-info .work-graph span {
  font-size: 18px;
  font-family: 'PNova';
  color: #676C77;
  margin-bottom: 5px;
  display: inline-block;
}

.footer .container .footer-wrap .left-info .work-graph p {
  font-size: 18px;
  font-family: 'PNova';
  color: #fcfcfc;
}

.footer .container .footer-wrap .right-form {
  padding-top: 29px;
  padding-left: 78px;
  /*padding-right: 0;*/
}

.footer .container .footer-wrap .right-form .form-wrap {
  padding-right: 20px;
}

.footer .container .footer-wrap .right-form .form-wrap .input-wrap {
  float: left;
  padding-right: 0;
}

.footer .container .footer-wrap .right-form .form-wrap .input-wrap input {
  width: 100%;
  border: 1px solid #F4F4F4;
  background-color: #F4F4F4;
  outline: none;
  margin-bottom: 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  font-family: 'PNova';
  font-weight: 300;
  color: #9a9a9a;
  padding: 12px 10px 12px 10px;
  -o-transition: border-color 500ms ease;
  transition: border-color 500ms ease;
  -moz-transition: border-color 500ms ease;
  -webkit-transition: border-color 500ms ease;
  -ms-transition: border-color 500ms ease;
}

.footer .container .footer-wrap .right-form .form-wrap .input-wrap input.error {
  border: 1px solid #f00;
}

.footer .container .footer-wrap .right-form .form-wrap .input-wrap textarea {
  width: 100%;
  border: 1px solid #F4F4F4;
  background-color: #F4F4F4;
  resize: none;
  outline: none;
  font-size: 16px;
  font-family: 'PNova';
  font-weight: 300;
  color: #9a9a9a;
  padding: 10px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 6px;
}

.footer .container .footer-wrap .right-form .form-wrap .input-submit-wrap button {
  width: 100%;
  outline: none;
  font-size: 20px;
  font-family: 'PNova';
  padding: 18px 14px;
  color: #fff;
  background-color: #2299FF;
  border: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/* /footer */
/* form */
#question-form {
  text-align: center;
}

#question-form .input-submit-wrap {
  display: inline-block;
}

.form-wrap div {
  float: none;
  margin: 0 auto;
}

.form-wrap h2 {
  margin: 0 auto;
  float: none;
  text-align: center;
  font-size: 48px;
  font-family: 'PNova';
  font-weight: 300;
  margin-bottom: 68px;
  opacity: 0;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.form-wrap h2.animated {
  opacity: 1;
}

.form-wrap h2:after {
  display: block;
  content: '';
  position: absolute;
  width: 90px;
  height: 1px;
  background-color: #E3E3E4;
  bottom: -41px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.form-wrap p {
  font-family: 'PNova';
  font-size: 25px;
  font-weight: 100;
  text-align: center;
  float: none;
  margin: 0 auto;
  color: #313436;
  line-height: 1.3;
  margin-bottom: 85px;
}

.form-wrap #consult-form3, .form-wrap #consult-form2, .form-wrap #consult-form1 {
  float: none;
  margin: 0 auto;
}

.form-wrap #consult-form3 .input-wrap, .form-wrap #consult-form2 .input-wrap, .form-wrap #consult-form1 .input-wrap {
  float: none;
  margin: 0 auto;
  width: 100%;
  position: relative;
  margin-bottom: 32px;
  opacity: 0;
  -webkit-transition: opacity ease-out .3s;
  -moz-transition: opacity ease-out .3s;
  -o-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.form-wrap #consult-form3 .input-wrap.animated, .form-wrap #consult-form2 .input-wrap.animated, .form-wrap #consult-form1 .input-wrap.animated {
  opacity: 1;
}

.form-wrap #consult-form3 .input-wrap input, .form-wrap #consult-form2 .input-wrap input, .form-wrap #consult-form1 .input-wrap input {
  width: 78%;
  border: 1px solid #8ECAFD;
  padding: 19px 54px;
  font-family: 'PNova';
  font-size: 18px;
  color: #313436;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  -o-transition: border-color 500ms ease;
  transition: border-color 500ms ease;
  -moz-transition: border-color 500ms ease;
  -webkit-transition: border-color 500ms ease;
  -ms-transition: border-color 500ms ease;
  outline: none;
}

.form-wrap #consult-form3 .input-wrap input::-webkit-input-placeholder, .form-wrap #consult-form2 .input-wrap input::-webkit-input-placeholder, .form-wrap #consult-form1 .input-wrap input::-webkit-input-placeholder {
  color: #313436;
}

.form-wrap #consult-form3 .input-wrap input::-moz-placeholder, .form-wrap #consult-form2 .input-wrap input::-moz-placeholder, .form-wrap #consult-form1 .input-wrap input::-moz-placeholder {
  color: #313436;
}

.form-wrap #consult-form3 .input-wrap input:-moz-placeholder, .form-wrap #consult-form2 .input-wrap input:-moz-placeholder, .form-wrap #consult-form1 .input-wrap input:-moz-placeholder {
  color: #313436;
}

.form-wrap #consult-form3 .input-wrap input:-ms-input-placeholder, .form-wrap #consult-form2 .input-wrap input:-ms-input-placeholder, .form-wrap #consult-form1 .input-wrap input:-ms-input-placeholder {
  color: #313436;
}

.form-wrap #consult-form3 .input-wrap input.error, .form-wrap #consult-form2 .input-wrap input.error, .form-wrap #consult-form1 .input-wrap input.error {
  border: 1px solid #f00 !important;
}

.form-wrap #consult-form3 .input-wrap.phone:before, .form-wrap #consult-form2 .input-wrap.phone:before, .form-wrap #consult-form1 .input-wrap.phone:before {
  display: block;
  content: '';
  position: absolute;
  left: 16%;
  width: 17px;
  height: 17px;
  background-image: url(../images/phone1-icon.png);
  background-repeat: no-repeat;
  font-weight: 600;
  top: 35%;
}

.form-wrap #consult-form3 .input-submit-wrap, .form-wrap #consult-form2 .input-submit-wrap, .form-wrap #consult-form1 .input-submit-wrap {
  float: none;
  margin: 0 auto;
  width: 100%;
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transition: opacity ease-out .3s;
  -moz-transition: opacity ease-out .3s;
  -o-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.form-wrap #consult-form3 .input-submit-wrap.animated, .form-wrap #consult-form2 .input-submit-wrap.animated, .form-wrap #consult-form1 .input-submit-wrap.animated {
  opacity: 1;
}

.form-wrap #consult-form3 .input-submit-wrap button, .form-wrap #consult-form2 .input-submit-wrap button, .form-wrap #consult-form1 .input-submit-wrap button {
  width: 78%;
  font-family: 'PNova';
  font-size: 20px;
  color: #fff;
  padding: 18px 10px;
  outline: none;
  border: 0;
  background-color: #2299FF;
  display: block;
  margin: 0 auto;
  letter-spacing: -0.5px;
}

.form-wrap #consult-form3 p, .form-wrap #consult-form2 p, .form-wrap #consult-form1 p {
  font-weight: 300;
  font-size: 14px;
  text-align: right;
  width: 78%;
  margin-right: 11%;
  margin-bottom: 65px;
}

/* /form */
/* consult-form3 */
.consult-from3-wrap {
  position: relative;
}

.consult-from3-wrap:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50vw solid transparent;
  border-right: 49vw solid transparent;
  border-top: 85px solid white;
  z-index: 11;
}

.consult-from3-wrap .form-wrap p {
  opacity: 0;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.consult-from3-wrap .form-wrap p.animated {
  opacity: 1;
}

/* /consult-form3 */
/* consult-form2 */
.consult-from2-wrap {
  position: relative;
  background-color: #283040;
}

.consult-from2-wrap .consult-form2 .form-wrap h2 {
  color: #fff;
  padding-top: 62px;
  margin-bottom: 98px;
  opacity: 0;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.consult-from2-wrap .consult-form2 .form-wrap h2.animated {
  opacity: 1;
}

.consult-from2-wrap .consult-form2 .form-wrap #consult-form2 .input-wrap input {
  border: 1px solid #fff;
}

.consult-from2-wrap .consult-form2 .form-wrap #consult-form2 p {
  margin-bottom: 84px;
  opacity: 0;
  -webkit-transition: opacity ease-out .3s;
  -moz-transition: opacity ease-out .3s;
  -o-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.consult-from2-wrap .consult-form2 .form-wrap #consult-form2 p.animated {
  opacity: 1;
}

/* /consult-form2 */
/* consult-form1 */
.consult-from1-wrap {
  position: relative;
  background-color: #fafbfc;
}

.consult-from1-wrap .consult-form1 .form-wrap h2 {
  padding-top: 62px;
  margin-bottom: 76px;
  font-weight: 100;
  letter-spacing: -0.6px;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.consult-from1-wrap .consult-form1 .form-wrap h2.animated {
  opacity: 1;
}

.consult-from1-wrap .consult-form1 .form-wrap h2 span {
  text-transform: uppercase;
}

.consult-from1-wrap .consult-form1 .form-wrap p {
  color: #2299ff;
  font-size: 34px;
  margin-bottom: 28px;
  opacity: 0;
  -webkit-transition: all ease .3s;
  -moz-transition: all ease .3s;
  -o-transition: all ease .3s;
  transition: all ease .3s;
}

.consult-from1-wrap .consult-form1 .form-wrap p.animated {
  opacity: 1;
}

.consult-from1-wrap .consult-form1 .form-wrap #consult-form1 p {
  margin-bottom: 84px;
  color: #2299ff;
  opacity: 0;
  -webkit-transition: opacity ease-out .3s;
  -moz-transition: opacity ease-out .3s;
  -o-transition: opacity ease-out .3s;
  transition: opacity ease-out .3s;
}

.consult-from1-wrap .consult-form1 .form-wrap #consult-form1 p.animated {
  opacity: 1;
}

.consult-from1-wrap .consult-form1 .form-wrap #consult-form1 .input-wrap input {
  background-color: #fafbfc;
}

/* /consult-form1 */
@media screen and (max-width: 1024px) {
  /* form */
  .form-wrap h2 {
    width: 100%;
  }
  .form-wrap #consult-form3 .input-wrap input, .form-wrap #consult-form2 .input-wrap input, .form-wrap #consult-form1 .input-wrap input {
    width: 100%;
  }
  .form-wrap #consult-form3 .input-wrap.phone:before, .form-wrap #consult-form2 .input-wrap.phone:before, .form-wrap #consult-form1 .input-wrap.phone:before {
    left: 10%;
  }
  .form-wrap #consult-form3 .input-submit-wrap button, .form-wrap #consult-form2 .input-submit-wrap button, .form-wrap #consult-form1 .input-submit-wrap button {
    width: 100%;
  }
  .form-wrap #consult-form3 p, .form-wrap #consult-form2 p, .form-wrap #consult-form1 p {
    width: 100%;
  }
  /* /form */
}

@media screen and (max-width: 992px) {
  .footer .container .footer-wrap .right-form .form-wrap .input-wrap input {
    font-size: 14px;
  }
  .footer .container .footer-wrap .right-form .form-wrap .input-submit-wrap button {
    font-size: 18px;
    padding: 15px 9px;
  }
}

@media screen and (max-width: 767px) {
  .form-wrap #consult-form3 .input-wrap.phone:before, .form-wrap #consult-form2 .input-wrap.phone:before, .form-wrap #consult-form1 .input-wrap.phone:before {
    left: 5%;
  }
  .footer .footer-wrap .left-info {
    text-align: center;
  }
  .footer .footer-wrap .left-info .info {
    padding: 0px 10px !important;
  }
  .footer .footer-wrap .left-info .info span {
    position: relative;
  }
  .footer .footer-wrap .left-info .info span:before {
    left: -30px !important;
  }
  .footer .footer-wrap .right-form {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .footer .footer-wrap .right-form .form-wrap {
    padding: 0 !important;
  }
  .footer .footer-wrap .right-form .form-wrap div {
    padding: 0;
  }
  .footer .footer-wrap .right-form .form-wrap #question-form .input-wrap {
    float: none;
  }
  .footer .footer-wrap .right-form .form-wrap #question-form .input-submit-wrap button {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 666px) {
  .form-wrap h2 {
    font-size: 30px;
  }
  .consult-from1-wrap .consult-form1 .form-wrap p {
    font-size: 28px;
  }
  .form-wrap #consult-form3 p, .form-wrap #consult-form2 p, .form-wrap #consult-form1 p {
    margin-right: 0;
  }
}

@media screen and (max-width: 479px) {
  .form-wrap #consult-form3 .input-wrap.phone:before, .form-wrap #consult-form2 .input-wrap.phone:before, .form-wrap #consult-form1 .input-wrap.phone:before {
    left: 8%;
  }
}

@media screen and (max-width: 320px) {
  .form-wrap h2 {
    font-size: 34px;
  }
  .form-wrap p {
    font-size: 22px !important;
  }
  .form-wrap #consult-form3 .input-wrap input, .form-wrap #consult-form2 .input-wrap input, .form-wrap #consult-form1 .input-wrap input {
    font-size: 16px;
  }
  .form-wrap #consult-form3 .input-wrap.phone:before, .form-wrap #consult-form2 .input-wrap.phone:before, .form-wrap #consult-form1 .input-wrap.phone:before {
    left: 12%;
  }
  .form-wrap #consult-form3 .input-submit-wrap button, .form-wrap #consult-form2 .input-submit-wrap button, .form-wrap #consult-form1 .input-submit-wrap button {
    font-size: 18px;
  }
  .form-wrap #consult-form3 p, .form-wrap #consult-form2 p, .form-wrap #consult-form1 p {
    font-size: 15px !important;
    margin: 0;
    text-align: center;
  }
}
