.icon {
  display: inline-block;
  vertical-align: middle;
}

.icon.pdf-icon {
  width: 107px;
  height: 38px;
  background-image: url(../images/pdf-icon.png);
}

.icon.pdf-icon.icon-hover {
  background-position: left bottom;
}

.inline-block {
  display: inline-block;
  float: none;
}

.btn.btn-blue {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  color: #fcfcfc;
  background-color: #2299ff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 61px;
  line-height: 61px;
  padding: 0;
  border: 2px solid #2299ff;
  -webkit-transition: background-color 300ms ease, color 300ms ease;
  -moz-transition: background-color 300ms ease, color 300ms ease;
  -o-transition: background-color 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, color 300ms ease;
}

.btn.btn-blue:hover {
  background-color: #fff;
  color: #2299ff;
}

.btn.btn-blue:focus {
  outline: none;
}

/* calc */
.calc-wrap {
  margin-bottom: 100px;
  overflow: hidden;
  padding-top: 100px;
}

.calc-title {
  padding-left: 44px;
  font-weight: 300;
  margin-bottom: 30px;
  position: relative;
}

.calc-title .calc-title-top {
  color: #020202;
  font-size: 48px;
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  opacity: 0;
  -webkit-transition: -webkit-transform 300ms ease, opacity 500ms ease;
  -moz-transition: -moz-transform 300ms ease, opacity 500ms ease;
  -o-transition: -o-transform 300ms ease, opacity 500ms ease;
  transition: transform 300ms ease, opacity 500ms ease;
}

.calc-title .calc-title-bottom {
  font-size: 21px;
  color: #888888;
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  opacity: 0;
  -webkit-transition: -webkit-transform 300ms ease, opacity 500ms ease;
  -moz-transition: -moz-transform 300ms ease, opacity 500ms ease;
  -o-transition: -o-transform 300ms ease, opacity 500ms ease;
  transition: transform 300ms ease, opacity 500ms ease;
}

.calc-title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  background-color: #2299ff;
  height: 0;
  -webkit-transition: height 300ms ease;
  -moz-transition: height 300ms ease;
  -o-transition: height 300ms ease;
  transition: height 300ms ease;
}

.calc-title.animated:before {
  height: 100%;
}

.calc-title.animated .calc-title-top {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.calc-title.animated .calc-title-bottom {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
}

.calc-form-wrap-title {
  font-size: 21px;
  color: #000000;
  margin-bottom: 20px;
}

.calc-form-wrap-title .inline-block {
  vertical-align: middle;
  margin-left: -3px;
}

.calc-form-wrap-title .col-xs-8 {
  opacity: 0;
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  -webkit-transition: -webkit-transform 300ms ease, opacity 500ms ease;
  -moz-transition: -moz-transform 300ms ease, opacity 500ms ease;
  -o-transition: -o-transform 300ms ease, opacity 500ms ease;
  transition: transform 300ms ease, opacity 500ms ease;
}

.calc-form-wrap-title .col-xs-4 {
  opacity: 0;
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 300ms ease, opacity 500ms ease;
  -moz-transition: -moz-transform 300ms ease, opacity 500ms ease;
  -o-transition: -o-transform 300ms ease, opacity 500ms ease;
  transition: transform 300ms ease, opacity 500ms ease;
}

.calc-form-wrap-title .col-xs-4 a {
  display: inline-block;
  position: relative;
}

.calc-form-wrap-title .col-xs-4 a .icon {
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.calc-form-wrap-title .col-xs-4 a .icon-hover {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.calc-form-wrap-title .col-xs-4 a:hover .icon:not(.icon-hover) {
  opacity: 0;
}

.calc-form-wrap-title .col-xs-4 a:hover .icon-hover {
  opacity: 1;
}

.calc-form-wrap-title .animated.col-xs-8 {
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.calc-form-wrap-title .animated.col-xs-4 {
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.calc-form-main {
  margin-bottom: 30px;
}

.calc-form .inline-block {
  vertical-align: middle;
  margin-left: -3px;
}

.calc-form .form-row {
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transform: translate(-25%, 0);
  -moz-transform: translate(-25%, 0);
  -ms-transform: translate(-25%, 0);
  -o-transform: translate(-25%, 0);
  transform: translate(-25%, 0);
  -webkit-transition: -webkit-transform 300ms ease, opacity 500ms ease;
  -moz-transition: -moz-transform 300ms ease, opacity 500ms ease;
  -o-transition: -o-transform 300ms ease, opacity 500ms ease;
  transition: transform 300ms ease, opacity 500ms ease;
}

.calc-form .form-row.animated {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.calc-form .form-row:last-child {
  margin-bottom: 0;
}

.calc-form .form-row.submit {
  padding-right: 20px;
}

.calc-form .calc-form-description {
  font-size: 18px;
  color: #2299ff;
  font-weight: 300;
}

.calc-form .calc-form-input input {
  width: 100%;
  height: 53px;
  line-height: 53px;
  border: 1px solid #2299ff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  font-size: 25px;
  color: #888888;
  font-weight: 300;
}

.calc-form .valute {
  font-size: 19px;
  color: #000000;
}

.calc-form-table-wrap {
  opacity: 0;
  -webkit-transform: translate(0, 25%);
  -moz-transform: translate(0, 25%);
  -ms-transform: translate(0, 25%);
  -o-transform: translate(0, 25%);
  transform: translate(0, 25%);
  -webkit-transition: -webkit-transform 300ms ease, opacity 500ms ease;
  -moz-transition: -moz-transform 300ms ease, opacity 500ms ease;
  -o-transition: -o-transform 300ms ease, opacity 500ms ease;
  transition: transform 300ms ease, opacity 500ms ease;
}

.calc-form-table-wrap table {
  width: 100%;
  border: 1px solid #f5f5f5;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
}

.calc-form-table-wrap td, .calc-form-table-wrap th {
  text-align: center;
  vertical-align: middle;
  padding: 10px 10px 10px 10px;
}

.calc-form-table-wrap tr td:last-child, .calc-form-table-wrap tr th:last-child {
  color: #fff;
}

.calc-form-table-wrap td.text-left, .calc-form-table-wrap th.text-left {
  text-align: left;
}

.calc-form-table-wrap.animated {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.gray-50 {
  background-color: #f5f5f5;
}

.gray-75 {
  background-color: #ededed;
}

.gray-100 {
  background-color: #e4e4e4;
}

.blue-50 {
  background-color: #46c3ee;
}

.blue-75 {
  background-color: #44bde7;
}

.blue-100 {
  background-color: #41b5dd;
}

/* /calc */
/* we-answer */
.we-answer {
  position: relative;
  overflow: hidden;
  padding: 142px 0 80px 0;
  color: #fff;
  text-align: center;
}

.we-answer .we-answer-bg {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 0;
}

.we-answer .we-answer-bg img {
  max-width: none;
}

.we-answer .container {
  position: relative;
  z-index: 1;
}

.we-answer .we-answer-title {
  position: relative;
  padding-bottom: 34px;
  margin-bottom: 31px;
  font-weight: 300;
  font-size: 48px;
  opacity: 0;
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 300ms ease, opacity 500ms ease;
  -moz-transition: -moz-transform 300ms ease, opacity 500ms ease;
  -o-transition: -o-transform 300ms ease, opacity 500ms ease;
  transition: transform 300ms ease, opacity 500ms ease;
}

.we-answer .we-answer-title:after {
  content: '';
  display: block;
  position: absolute;
  width: 92px;
  height: 1px;
  background-color: #d1d1d1;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, 0) scale(0);
  -moz-transform: translate(-50%, 0) scale(0);
  -ms-transform: translate(-50%, 0) scale(0);
  -o-transform: translate(-50%, 0) scale(0);
  transform: translate(-50%, 0) scale(0);
  -webkit-transition: -webkit-transform 300ms ease;
  -moz-transition: -moz-transform 300ms ease;
  -o-transition: -o-transform 300ms ease;
  transition: transform 300ms ease;
}

.we-answer .we-answer-title.animated {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.we-answer .we-answer-title.animated:after {
  -webkit-transform: translate(-50%, 0) scale(1);
  -moz-transform: translate(-50%, 0) scale(1);
  -ms-transform: translate(-50%, 0) scale(1);
  -o-transform: translate(-50%, 0) scale(1);
  transform: translate(-50%, 0) scale(1);
}

.we-answer .we-answer-text {
  color: #fff;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  opacity: 0;
  -webkit-transform: translate(0, 25%);
  -moz-transform: translate(0, 25%);
  -ms-transform: translate(0, 25%);
  -o-transform: translate(0, 25%);
  transform: translate(0, 25%);
  -webkit-transition: -webkit-transform 300ms ease, opacity 500ms ease;
  -moz-transition: -moz-transform 300ms ease, opacity 500ms ease;
  -o-transition: -o-transform 300ms ease, opacity 500ms ease;
  transition: transform 300ms ease, opacity 500ms ease;
}

.we-answer .we-answer-text p {
  display: block;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.we-answer .we-answer-text.animated {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

/* /we-answer */
/* facts-about-us */
.facts-about-us {
  padding: 50px 0 50px 0;
}

.facts-about-us .container {
  position: relative;
}

.facts-about-us .container .facts-about-us-bg {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.facts-about-us .container .facts-about-us-bg img {
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  -moz-transition: opacity 300ms ease;
  -o-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.facts-about-us .container .facts-about-us-bg img.animated {
  opacity: 1;
}

.facts-about-us-title-wrap {
  margin-bottom: 50px;
}

.facts-about-us-title {
  position: relative;
  padding-left: 35px;
}

.facts-about-us-title:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 0;
  background-color: #2299ff;
  -webkit-transition: height 300ms ease;
  -moz-transition: height 300ms ease;
  -o-transition: height 300ms ease;
  transition: height 300ms ease;
}

.facts-about-us-title h2 {
  font-size: 48px;
  color: #343c4b;
  font-weight: 300;
  opacity: 0;
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: opacity 500ms ease, -webkit-transform 300ms ease;
  -moz-transition: opacity 500ms ease, -moz-transform 300ms ease;
  -o-transition: opacity 500ms ease, -o-transform 300ms ease;
  transition: opacity 500ms ease, transform 300ms ease;
}

.facts-about-us-title.animated:before {
  height: 100%;
}

.facts-about-us-title.animated h2 {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.facts-about-us-wrap {
  font-size: 0;
}

.facts-about-us-wrap .inline-block {
  vertical-align: top;
  margin-bottom: 20px;
  opacity: 0;
  -webkit-transform: translate(0, 25%);
  -moz-transform: translate(0, 25%);
  -ms-transform: translate(0, 25%);
  -o-transform: translate(0, 25%);
  transform: translate(0, 25%);
  -webkit-transition: opacity 500ms ease, -webkit-transform 300ms ease;
  -moz-transition: opacity 500ms ease, -moz-transform 300ms ease;
  -o-transition: opacity 500ms ease, -o-transform 300ms ease;
  transition: opacity 500ms ease, transform 300ms ease;
}

.facts-about-us-wrap .facts-about-title {
  padding-bottom: 15px;
  margin-bottom: 25px;
  position: relative;
  font-weight: 100;
  color: #343c4b;
  white-space: nowrap;
}

.facts-about-us-wrap .facts-about-title:after {
  content: '';
  display: block;
  width: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: #46c3ee;
  -webkit-transition: width 300ms ease;
  -moz-transition: width 300ms ease;
  -o-transition: width 300ms ease;
  transition: width 300ms ease;
}

.facts-about-us-wrap .facts-about-title .facts-about-title-num {
  font-size: 72px;
}

.facts-about-us-wrap .facts-about-title .facts-about-title-text {
  font-size: 30px;
}

.facts-about-us-wrap .facts-about-text {
  font-size: 18px;
  color: #7b7b7b;
  line-height: 34px;
  font-weight: 300;
}

.facts-about-us-wrap .animated.inline-block {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.facts-about-us-wrap .animated .facts-about-title:after {
  width: 100%;
}

/* /facts-about-us */
/* adaptive */
@media screen and (max-width: 1069px) {
  /* calc */
  .calc-title .calc-title-top {
    font-size: 46px;
  }
  /* /calc */
}

@media screen and (max-width: 767px) {
  /* we answer */
  .we-answer .we-answer-bg {
    -webkit-transform: translate(-65%, 0);
    -moz-transform: translate(-65%, 0);
    -ms-transform: translate(-65%, 0);
    -o-transform: translate(-65%, 0);
    transform: translate(-65%, 0);
  }
  .we-answer .we-answer-title {
    padding: 0 10px 34px 10px;
  }
  .we-answer .we-answer-text {
    padding: 0 10px;
  }
  /* /we answer */
  /* facts about us */
  .facts-about-us-wrap .inline-block {
    width: 47.5%;
  }
  .facts-about-us-wrap .inline-block:nth-child(2n) {
    margin-left: 5%;
  }
  /* /facts about us */
}

@media screen and (max-width: 666px) {
  /* calc */
  .calc-title {
    padding-left: 15px;
  }
  .calc-title .calc-title-top {
    font-size: 30px;
  }
  .calc-title .calc-title-bottom {
    font-size: 18px;
  }
  .calc-form-table-wrap {
    overflow-x: scroll;
    border-width: 0 1px;
    border-style: solid;
    border-color: #ccc;
  }
  /* /calc */
  /* we answer */
  .we-answer .we-answer-title {
    font-size: 32px;
  }
  .we-answer .we-answer-text {
    font-size: 16px;
    line-height: 22px;
  }
  /* /we answer */
  /* facts about us */
  .facts-about-us-title-wrap {
    padding: 0 10px;
    margin-bottom: 20px;
  }
  .facts-about-us-title-wrap h2 {
    font-size: 30px;
  }
  .facts-about-us-wrap .inline-block {
    width: 100%;
  }
  .facts-about-us-wrap .inline-block:nth-child(2n) {
    margin-left: 0%;
  }
  /* /facts about us */
}

@media screen and (max-width: 479px) {
  /* calc */
  .calc-title {
    padding-left: 15px;
  }
  .calc-title .calc-title-top {
    font-size: 24px;
  }
  .calc-title .calc-title-bottom {
    font-size: 16px;
  }
  .calc-form-wrap-title {
    font-size: 16px;
  }
  .calc-form-wrap-title .col-xs-8 {
    margin-bottom: 10px;
  }
  .calc-form-wrap-title .col-xs-8, .calc-form-wrap-title .col-xs-4 {
    width: 100%;
  }
  .calc-form .calc-form-description {
    font-size: 16px;
  }
  .calc-form .valute {
    font-size: 15px;
  }
  .calc-form-table-wrap table {
    font-size: 12px;
  }
  /* /calc */
  /* we answer */
  .we-answer {
    padding: 92px 0 80px 0;
  }
  .we-answer .we-answer-title {
    font-size: 24px;
    padding: 0 10px 20px 10px;
    margin-bottom: 28px;
  }
  /* /we answer */
}

/* adaptive */
