.long-table-wrap{ width: 100%; background-color: #fafbfc;
    .container{
        .get-analiz-box{text-align: center; color: #24ccf1; font-family: "PNova"; font-weight: 400; font-size: 29px; padding-top: 125px; padding-bottom: 128px;
            a{background-color: none;}
            a:hover, a:active, a:focus, a:visited {text-decoration: none; background: none; color: #24ccf1;}

        }
        .header-table-stroke{text-align: center; padding-bottom: 50px; padding-top: 50px; font-family: "PNova"; font-weight: 300; font-size: 48px;}
        .table-striped-chits{
            .table-chits { font-family: "PNova"; font-weight: 300;
                tr{ opacity: 0; transition: all 1s ease ; -webkit-transition: all 1s ease ; -moz-transition: all 1s ease ;  -ms-transition: all 1s ease ;
                    &.animated { opacity: 1;}
                }
                thead tr th{text-align: center;background-color: #283040;color: #ffffff; padding-bottom: 36px; padding-top: 36px;  font-size: 19px;
                    &:first-child{ width: 23.5%;  }
                    &:nth-child(2){ width: 24%; }
                    &:nth-child(3){ width: 14%; }
                    &:nth-child(4){ width: 23.5%; }
                    &:last-child{ width: 15%; }
                }
                .all-row-text td{ padding-bottom: 36px; padding-top: 36px; font-family: "PNova"; font-weight: 300; font-size: 30px; background-color: #ffffff; text-align: center; padding: 33px; }

                .first-row-table-main{ font-size: 21px; padding: 20px; }
                .second-row-table-main{font-size: 16px; padding: 20px;}
                .third-row-table-main{font-size: 21px; padding: 20px; text-align: center;}
                .fourth-row-table-main{font-size: 16px; padding: 20px; }
                .fifth-row-table-main{font-size: 16px; padding: 20px; }

                .tr-class-1-2{
                    .first-row-table-main{ background-color: #e6eaec;}
                    .second-row-table-main{ background-color: #e6eaec; }
                    .third-row-table-main{background-color: #e6eaec; }
                    .fourth-row-table-main{background-color: #e6eaec;  }
                    .fifth-row-table-main{background-color: #e6eaec;  }

                }
                .tr-class-1-3{
                    .first-row-table-main{ background-color: #e6eaec;}
                    .second-row-table-main{background-color: #f2f6f7; }
                    .third-row-table-main{background-color: #e6eaec; }
                    .fifth-row-table-main{background-color: #f2f6f7;  }
                }

                .tr-class-1-4{
                    .first-row-table-main{ background-color: #dbdee0;}
                    .second-row-table-main{background-color: #e6eaec; }
                    .third-row-table-main{background-color: #dbdee0; }
                    .fifth-row-table-main{background-color: #dbdee0;  }
                }

                .tr-class-2-2{
                    .first-row-table-main{ background-color: #edeeef;}
                    .second-row-table-main{background-color: #fafbfc; }
                    .third-row-table-main{background-color: #edeeef; }
                    .fourth-row-table-main{background-color: #fafbfc;}
                    .fifth-row-table-main{background-color: #edeeef; }
                }
                .tr-class-2-3{
                    .first-row-table-main{ background-color: #dbdee0;}
                    .second-row-table-main{background-color: #e6eaec; }
                    .third-row-table-main{background-color: #dbdee0; }
                    .fourth-row-table-main{background-color: #e6eaec;}
                    .fifth-row-table-main{background-color: #dbdee0; }
                }
                .tr-class-2-4{
                    .second-row-table-main{background-color: #f2f6f7; }
                    .third-row-table-main{background-color: #e6e9ea; }
                }
                .tr-class-2-5{
                    .second-row-table-main{background-color: #e6eaec; }
                    .third-row-table-main{background-color: #dbdee0; }
                }
                .tr-class-2-6{
                    .first-row-table-main{ background-color: #e6e9ea;}
                    .second-row-table-main{background-color: #f2f6f7; }
                    .third-row-table-main{background-color: #e6e9ea; }
                    .fourth-row-table-main{background-color: #f2f6f7;}
                    .fifth-row-table-main{background-color: #e6e9ea; }
                }
                .tr-class-3-2{
                    .first-row-table-main{ background-color: #dbdee0;}
                    .second-row-table-main{background-color: #e6eaec; }
                    .third-row-table-main{background-color: #dbdee0; }
                    .fourth-row-table-main{background-color: #e6eaec;}
                    .fifth-row-table-main{background-color: #dbdee0; }
                }
                .tr-class-3-3{
                    .first-row-table-main{ background-color: #e6e9ea;}
                    .second-row-table-main{background-color: #f2f6f7; }
                    .third-row-table-main{background-color: #e6e9ea; }
                    .fourth-row-table-main{background-color: #f2f6f7;}
                    .fifth-row-table-main{background-color: #e6e9ea; }
                }
                .tr-class-3-4{
                    .first-row-table-main{ background-color: #dbdee0;}
                    .second-row-table-main{background-color: #e6eaec; }
                    .third-row-table-main{background-color: #dbdee0; }
                    .fourth-row-table-main{background-color: #e6eaec;}
                    .fifth-row-table-main{background-color: #dbdee0; }
                }
                .tr-class-4-2{
                    .second-row-table-main{background-color: #e2e6e9; }
                    .fifth-row-table-main{background-color: #d7dadd; }
                }
                .tr-class-4-3{
                    .second-row-table-main{background-color: #f2f6f7; }
                    .fifth-row-table-main{background-color: #e6e9ea; }
                }
                .tr-class-4-4{
                    .second-row-table-main{background-color: #e2e6e9; }
                    .fifth-row-table-main{background-color: #d7dadd; }
                }
                .tr-class-4-5{
                    .second-row-table-main{background-color: #f2f6f7; }
                    .fifth-row-table-main{background-color: #e6e9ea; }
                }
                .tr-class-4-6{
                    .second-row-table-main{background-color: #e2e6e9; }
                    .fifth-row-table-main{background-color: #d7dadd; }
                }


            }
        }
    }

}