.long-table-wrap{ width: 100%; background-color: #fafbfc;
    .container{
        .get-analiz-box{text-align: center;}
        .header-table-stroke{text-align: center;}
        .table-striped-chits{
            .table-chits {
                thead tr th{text-align: center;background-color: #283040;color: #ffffff; padding-bottom: 36px; padding-top: 36px;
                    &:first-child{ width: 23.5%;  }
                    &:nth-child(2){ width: 24%; }
                    &:nth-child(3){ width: 14%; }
                    &:nth-child(4){ width: 23.5%; }
                    &:last-child{ width: 15%; }
                }

            }
        }
    }

}