/*our-clients*/
.clients-wrapp{
    .clients-align{    padding:44px 0 92px;
        .client-title{padding:0 0 29px 14px;
                &:before{content: ""; display: block; width:5px; height: 35px; background-color: #2299ff;float:left;position: absolute; top: 26%; }
                h2{font-family: 'PNova'; font-weight: 300;color:#343c4b; font-size: 48px;padding-left: 36px; display: block;

                }
        }
        .client-img{ text-align: justify; opacity: 0; transition:opacity 600ms linear;
            &.animated{opacity:1;}
            .item-img{display: inline-block; vertical-align: top;margin-left: -4px; position: relative;
                a{background-color: transparent;
                    img{
                        &:nth-child(2){position: absolute;left:0; opacity:0.58;transition: opacity 500ms linear;}
                        &:nth-child(1){ opacity:0;transition: opacity 500ms linear;}

                    }
                    &:hover{
                        img{
                            &:nth-child(1){ opacity:1;}
                            &:nth-child(2){ opacity:0;}
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 479px){
    .clients-wrapp{
        .clients-align{
            .client-img{ text-align: center;
                .item-img{width:100%;}
            }
        }
    }


}
/*/our-clients*/
/*our-services*/
    .services-wrapp{padding: 55px 0 48px 0; background-color: #fafbfc; width:100%;
        .services-align{
            .services-title{padding:0 0 29px 14px;
                &:before{content: ""; display: block; width:5px; height: 35px; background-color: #2299ff;float:left;position: absolute; top: 26%; }
                h2{font-family: 'PNova'; font-weight: 300;color:#343c4b; font-size: 48px;padding-left: 36px; display: block;

                }
            }

        }
    }
    .list-box{padding: 11px 0 0 14px;
        ul{
            li{    padding-bottom: 24px; position: relative;transform:translate(-50%,0);opacity: 0;transition:transform 300ms ease, opacity 500ms ease;
                &:before{content: "";width: 26px;height: 26px;position:absolute; top:0; background-image: url('../images/listyle.png');display: inline-block;vertical-align: top;border-radius:50%; border:solid 1px #2299ff; background-repeat: no-repeat; background-position: center center;}
                span{font-family: 'PNova';font-weight: 300;font-size: 20px;color: #000; padding-left: 45px; display:block;    line-height: 24px;}
                &.animated{transform:translate(0%,0);opacity: 1;}
            }
        }
    }
/*/our-services*/
/*risks*/
.risk-wrapp{padding: 55px 0 48px 0; background-color: #fff; width:100%;
        .risk-align{
            .risk-title{padding:0 0 29px 14px;
                &:before{content: ""; display: block; width:5px; height: 35px; background-color: #2299ff;float:left;position: absolute; top: 26%; }
                h2{font-family: 'PNova'; font-weight: 300;color:#343c4b; font-size: 48px;padding-left: 36px; display: block;

                }
            }

        }
    }
/*/risks*/

@media screen and (max-width: 666px){
    .risk-wrapp .risk-align .risk-title:before{height: 90%;top: 0%;}
    .list-box ul li span{font-size: 18px;line-height: 22px;}
    .list-box ul li {padding-bottom: 13px;}

    .risk-wrapp .risk-align .risk-title span,.services-wrapp .services-align .services-title span,.clients-wrapp .clients-align .client-title span{font-size: 32px;}
    .services-wrapp .services-align .services-title:before{top: 5%;}
    .clients-wrapp .clients-align .client-title:before{top: 6%;}

}
@media screen and (max-width: 320px){
    .clients-wrapp .clients-align{padding-top: 41px;}

}