/*our-clients*/
.clients-wrapp{padding:0;
    .clients-align{    padding-bottom: 92px;
        .client-title{padding:0 0 29px 14px;
            span{font-family: 'PNova'; font-weight: 300;color:#343c4b; font-size: 48px;padding-left: 36px;
                &:before{content: ""; display: block; width:5px; height: 35px; background-color: #2299ff;float:left;position: absolute; top: 18%; }
            }
        }
        .client-img{white-space: nowrap;
            .item-img{display: inline-block; vertical-align: top;margin-left: -4px;
                a{background-color: transparent;
                    img{-webkit-filter: grayscale(100%);opacity:0.58; transition: opacity 600ms linear;
                        &:hover{ -webkit-filter: none;opacity:1;}
                    }
                }
            }
            .img0{width:23%;margin-right: 58px;    padding-top: 21px;}
            .img1{padding-top: 33px;}
            .img2{width:14%;margin-left: 57px;    padding-top: 14px;    margin-right: 63px;}
            .img4{padding-top: 26px;margin-left: 44px;}
            .img5{padding-top: 42px;margin-left: 13px;}
            .img6{padding-top: 73px;margin-left: 64px;}
            .img7{width:25.2%;padding-top: 70px;margin-left: 51px;}
            .img8{width:17.8%;padding-top: 70px;margin-left: 78px;}
        }
    }
}


/*/our-clients*/