.icon{display: inline-block;vertical-align: middle;}
.icon.pdf-icon{width: 107px;height: 38px;background-image:url(../images/pdf-icon.png);}
.icon.pdf-icon.icon-hover{background-position: left bottom;}

.inline-block{display: inline-block;float: none;}

.btn.btn-blue{display: inline-block;width: 100%;font-size:20px;color: #fcfcfc;background-color: #2299ff;border-radius: 5px;height: 61px;line-height: 61px;padding: 0;border:2px solid #2299ff;transition:background-color 300ms ease, color 300ms ease;
    &:hover{background-color: #fff;color:#2299ff;}
    &:focus{outline:none;}
}

/* calc */

.calc-wrap{margin-bottom: 100px;overflow: hidden;padding-top: 100px;}

.calc-title{padding-left: 44px;font-weight: 300;margin-bottom: 30px;position: relative;
    .calc-title-top{color:#020202;font-size: 48px;transform:translate(0, -25%);opacity: 0;transition:transform 300ms ease, opacity 500ms ease;}
    .calc-title-bottom{font-size: 21px;color:#313436;transform:translate(0, -25%);opacity: 0;transition:transform 300ms ease, opacity 500ms ease;}
    &:before{content: '';display: block;position: absolute;left:0;top: 0;width: 5px;background-color: #2299ff;height: 0;transition:height 300ms ease;}
    &.animated{
        &:before{height: 100%;}
        .calc-title-top{transform:translate(0, 0);opacity: 1;}
        .calc-title-bottom{transform:translate(0, 0);opacity: 1;}
    }
}

.calc-form-wrap-title{font-size: 21px;color:#000000;margin-bottom: 20px;
    .inline-block{vertical-align: middle;margin-left: -3px;}
    .col-xs-8{opacity: 0;transform:translate(-25%, 0);transition:transform 300ms ease, opacity 500ms ease;}
    .col-xs-4{opacity: 0;transform:translate(0, -25%);transition:transform 300ms ease, opacity 500ms ease;
        a{display:inline-block;position: relative;
            .icon{transition:opacity 300ms ease;}
            .icon-hover{position: absolute;opacity: 0;top: 0;left: 0;}
            &:hover{
                .icon:not(.icon-hover){opacity: 0;}
                .icon-hover{opacity: 1;}
            }
        }
    }
    .animated{
        &.col-xs-8{opacity: 0;transform:translate(0,0);}
        &.col-xs-4{opacity: 0;transform:translate(0,0);}
    }
}
.calc-form-main{margin-bottom: 30px;}
.calc-form{
    .inline-block{vertical-align: middle;margin-left: -3px;}
    .form-row{margin-bottom: 15px;opacity: 0;transform:translate(-25%, 0);transition:transform 300ms ease, opacity 500ms ease;
        &.animated{opacity: 1;transform:translate(0,0);}
        &:last-child{margin-bottom: 0;}
        &.submit{padding-right: 20px;}
    }
    .calc-form-description{font-size: 18px;color:#2299ff;font-weight: 300;}
    .calc-form-input{
        input{width: 100%;height: 53px;line-height: 53px;border:1px solid #2299ff;border-radius: 3px;text-align: center;font-size: 25px;color:#888888;font-weight: 300;}
    }
    .valute{font-size: 19px;color:#000000;}
}

.calc-form-table-wrap{opacity: 0;transform:translate(0, 25%);transition:transform 300ms ease, opacity 500ms ease;
    table{width: 100%;border:1px solid #f5f5f5;font-weight: 600;font-size: 14px;color:#000000;}
    td, th{text-align: center;vertical-align: middle;padding:10px 10px 10px 10px;}
    tr td:last-child, tr th:last-child{color:#fff;}
    td.text-left, th.text-left{text-align: left;}
    &.animated{opacity: 1;transform:translate(0,0);}
}

.gray-50{background-color: #f5f5f5;}
.gray-75{background-color: #ededed;}
.gray-100{background-color: #e4e4e4;}

.blue-50{background-color: #46c3ee;}
.blue-75{background-color: #44bde7;}
.blue-100{background-color: #41b5dd;}

/* /calc */

/* we-answer */

.we-answer{position: relative;overflow: hidden;padding: 142px 0 80px 0;color:#fff;text-align: center;
    .we-answer-bg{position: absolute;left: 50%;top:0;transform:translate(-50%,0);z-index: 0;
        img{max-width: none;}
    }
    .container{position: relative;z-index: 1;}
    .we-answer-title{position: relative;padding-bottom: 34px;margin-bottom:31px;font-weight: 300;font-size: 48px;opacity: 0;transform:translate(0, -25%);transition:transform 300ms ease, opacity 500ms ease;
        &:after{content:'';display: block;position: absolute;width: 92px;height: 1px;background-color: #d1d1d1;left: 50%;bottom:0;transform:translate(-50%, 0) scale(0);transition:transform 300ms ease;}
        &.animated{opacity: 1;transform:translate(0,0);
            &:after{transform:translate(-50%, 0) scale(1);}
        }
    }
    .we-answer-text{color:#fff;font-size: 24px;font-weight: 100;line-height: 30px;opacity: 0;transform:translate(0, 25%);transition:transform 300ms ease, opacity 500ms ease;
        p{display: block;max-width: 900px;width: 100%;margin: 0 auto;padding-bottom: 10px;}
        &.animated{opacity: 1;transform:translate(0,0);}
    }
}

/* /we-answer */

/* facts-about-us */

.facts-about-us{padding:50px 0 50px 0;
    .container{position: relative;
        .facts-about-us-bg{position: absolute;bottom: 0;right: 0;z-index: 0;
            img{opacity: 0;transition:opacity 300ms ease;
                &.animated{opacity:1;}
            }
        }
    }
}

.facts-about-us-title-wrap{margin-bottom: 50px;}
.facts-about-us-title{position: relative;padding-left: 35px;
    &:before{content: '';display: block;position: absolute;left: 0;top: 0;width: 5px;height:0;background-color: #2299ff;transition:height 300ms ease;}
    h2{font-size: 48px;color:#343c4b;font-weight: 300;opacity: 0;transform:translate(0,-25%);transition:opacity 500ms ease, transform 300ms ease;}
    &.animated{
        &:before{height: 100%;}
        h2{opacity: 1;transform:translate(0,0);}
    }
}

.facts-about-us-wrap{font-size: 0;
    .inline-block{vertical-align: top;margin-bottom: 20px;opacity: 0;transform:translate(0, 25%);transition:opacity 500ms ease, transform 300ms ease;}
    .facts-about-title{padding-bottom: 15px;margin-bottom: 25px;position: relative;font-weight: 100;color:#343c4b;white-space:nowrap;
        &:after{content: '';display: block;width: 0;bottom:0;left:0;height: 1px;background-color: #46c3ee;transition:width 300ms ease;}
        .facts-about-title-num{font-size: 72px;}
        .facts-about-title-text{font-size: 30px;}
    }
    .facts-about-text{font-size: 18px;color:#7b7b7b;line-height: 34px;font-weight: 300;}
    .animated{
        &.inline-block{opacity: 1;transform:translate(0, 0);}
        .facts-about-title{
            &:after{width: 100%;}
        }

    }
}

/* /facts-about-us */

/* fancyboxes */

.fancybox-opened.popup-class{
    .fancybox-skin{box-shadow:none;border-radius: 5px;
        .fancybox-close{display: none;}
    }
}
.call-form{background-color: #283040;padding: 25px 40px 25px 40px;border-radius: 4px;max-width: 380px;width: 100%;}
.call-form-title{color:#fcfcfc;font-size: 30px;position: relative;padding-left: 20px;margin-bottom: 20px;font-weight: 300;
    &:before{content:'';position: absolute;left: 0;height: 100%;width: 5px;background-color:#2299ff;}
}
.call-form-wrap{
    .form-row{max-width: 305px;margin-bottom: 20px;
        input{width: 100%;height: 48px;line-height: 48px;font-size: 16px;border:none;border-radius: 4px;padding: 0 15px;font-weight: 300;border:1px solid transparent;transition:border-color 300ms ease, box-shadow 300ms ease;
            &::-webkit-input-placeholder {color:#717171;}
            &:-moz-placeholder {color:#717171;}
            &::-moz-placeholder {color:#717171;}
            &:-ms-input-placeholder {color:#717171;}
            &.error{border-color:#db0000;box-shadow:inset 0 0 15px 0 rgba(219,0,0,.6);}
        }
    }
}
.call-form-main button{display: inline-block;width: 100%;border:3px solid #2299ff;border-radius: 2px;background-color: transparent;height: 65px;line-height: 60px;font-size: 20px;color:#fcfcfc;transition:background-color 300ms ease;
    &:hover{background-color:#2299ff;}
}

.call_success{font-size: 29px;color:#fff;text-align: center;
    span{font-weight:700;font-size: 32px;}
}

/* /fancyboxes */


/* adaptive */

@media screen and (max-width: 1069px){

    /* calc */

    .calc-title .calc-title-top{font-size: 46px;}

    /* /calc */

}

@media screen and (max-width: 767px){

    /* we answer */

    .we-answer{
        .we-answer-bg{transform:translate(-65%, 0);}
        .we-answer-title{padding:0 10px 34px 10px;}
        .we-answer-text{padding: 0 10px;}
    }

    /* /we answer */

    /* facts about us */

    .facts-about-us-wrap .inline-block{width: 47.5%;
        &:nth-child(2n){margin-left: 5%;}
    }

    /* /facts about us */

}

@media screen and (max-width: 666px){

    /* calc */

    .calc-title {padding-left:15px;
        .calc-title-top{font-size: 30px;}
        .calc-title-bottom{font-size: 18px;}
    }
    .calc-form-table-wrap{overflow-x: scroll;border-width: 0 1px;border-style:solid;border-color: #ccc;}

    /* /calc */

    /* we answer */

    .we-answer{
        .we-answer-title{font-size: 32px;}
        .we-answer-text{font-size: 16px;line-height: 22px;}
    }

    /* /we answer */

    /* facts about us */

    .facts-about-us-title-wrap{padding:0 10px;margin-bottom: 20px;
        h2{font-size: 30px;}
    }
    .facts-about-us-wrap .inline-block{width: 100%;
        &:nth-child(2n){margin-left: 0%;}
    }

    /* /facts about us */

}

@media screen and (max-width: 479px){

    /* calc */

    .calc-title {padding-left:15px;
        .calc-title-top{font-size: 24px;}
        .calc-title-bottom{font-size: 16px;}
    }
    .calc-form-wrap-title{font-size: 16px;
        .col-xs-8{margin-bottom: 10px;}
        .col-xs-8, .col-xs-4{width: 100%;}
    }
    .calc-form{
        .calc-form-description{font-size: 16px;}
        .valute{font-size: 15px;}
    }
    .calc-form-table-wrap table{font-size: 12px;}

    /* /calc */

    /* we answer */

    .we-answer{padding:92px 0 80px 0;
        .we-answer-title{font-size: 24px;padding:0 10px 20px 10px;margin-bottom: 28px;}
    }

    /* /we answer */

    /* fancyboxes */

    .call-form-title{font-size: 26px;}
    .call-form{padding: 25px 20px 25px 20px;}

    /* /fancyboxes */

}

/* adaptive */